<div class="container">
	
		<% @images.each do |image| %>
			<div class="col-md-4">
				<%= image_tag image.avatar.url(:medium), class: 'img img-rounded img-responsive' %>
			</div>
		<% end %>

</div>